*, *::before, *::after{
	box-sizing: border-box;
	font-family: gotham rounded, sans-serif;
	font-weight: normal;
}
body{
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #12bed6, #14f772);
	color: #fff;
	
}
h1{
	text-align: center;
	color: #000;
}
.calculator-grid{
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button{
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid #fff;
	outline: none;
	background: rgb(255, 255, 255, .75);
}
.calculator-grid > button:hover{
	background: rgb(255, 255, 255, .9);
}
.span-two{
	grid-column: span 2;
}
.output{
	grid-column: 1 / -1;
	display: flex;
	align-items: flex-end;
	background: rgba(0,0,0, .75);
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.output .previous-operand{
	color: rgba(255, 255, 255, .75);
	font-size: 1.5rem;	
	}
.output .current-operand{
		color: #fff;
		font-size: 2.5rem;
	}


.footer{
	width: 100%;
	line-height: 5rem;
	margin: 8vh 0px 0px 0px;
	background: #000;
	text-align: center;
}